.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.footer ul {
  width: 800px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer ul li {
  margin: 0 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.footer ul li a {
  color: rgb(209, 204, 204);
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
}


.footer-container a {
  font-size: 5px;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
  color: #eee;
  padding-bottom: 14px;
  text-decoration: underline;
}

.footer-container {
  width: 80%;
  font-size: 7px;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  color: #eee;
  line-height: 20px;
  margin: auto;
  margin-bottom: 14px;
}